.menu {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
    padding-bottom: 1rem;
}

.menu a {
    border-radius: 4px;
    padding: .7rem;
    background-color: var(--gray);
    font-family: var(--secondary-font);
    font-size: 16px;
    text-decoration: none;
    color: var(--black);
}

:global(a.active) {
    background-color: var(--red);
    color: var(--white);
}

.menu a:hover {
    background-color: var(--dark-red);
    color: var(--white);
}